In [2]:
from run import run_etl, status, reset_tables_timestamps

#### Before you start, you should do some steps

   1) Open `postgresql.conf` in `postgres/data` folder
          
   2) Enable __track_commit_timestamp__
   (replace `#track_commit_timestamp = off` to `track_commit_timestamp = on`)
         
   3) Restart postgres server
          
   4) Load `set_up_python.sql` file
          
   5) Target DB should be __empty__ (for clarity of test cases)
         
This is necessary for the correct execution of the 3-rd tasks (extracting after the last successful ran)

### Testing Lendico Data Engineer Take Home challenge (Python part)

Initial status of all DB:

In [3]:
status()

------------------------------
STATUS db = source
Tables in DB:
--- address has 99 rows
--- company has 99 rows
------------------------------
------------------------------
STATUS db = target
Tables in DB:
--- No tables in target
------------------------------

Target DB has no tables

#### 1st task - ETL process

In [4]:
run_etl()

starting etl
extract from source
Created table 'company' in target
Created table 'address' in target
---  data loaded to target company:
updated timestamp for company: 2021-07-28 17:56:14.098251+02:00
---  data loaded to target address:
updated timestamp for address: 2021-07-28 17:56:14.122639+02:00

By logging we can see, that data loaded successfully and timestamps of last ran are saved.

Let's check status

In [5]:
status()

------------------------------
STATUS db = source
Tables in DB:
--- address has 99 rows
--- company has 99 rows
------------------------------
------------------------------
STATUS db = target
Tables in DB:
--- company has 99 rows
--- address has 99 rows
------------------------------

#### 2nd task - not insert if row already exists

For testing that, we'll reset timestamp_counter, except default

In [6]:
reset_tables_timestamps()

In [7]:
run_etl()

starting etl
extract from source
---  data loaded to target company:
updated timestamp for company: 2021-07-28 17:57:29.782788+02:00
---  data loaded to target address:
updated timestamp for address: 2021-07-28 17:57:29.797653+02:00

Data was loaded, in spite of 3rd condition (we'll see it later)

In [8]:
status()

------------------------------
STATUS db = source
Tables in DB:
--- address has 99 rows
--- company has 99 rows
------------------------------
------------------------------
STATUS db = target
Tables in DB:
--- company has 99 rows
--- address has 99 rows
------------------------------

But target tables are still unchanged, like in last status() check

#### 3rd task - tracking and exctracting new data only

We'll repeat etl process one more time to see there is no new data to insert.

In [9]:
run_etl()

starting etl
extract from source
--- data is empty from company
--- data is empty from address

The data is empty, so no loaded processes was ran.

In [10]:
status()

------------------------------
STATUS db = source
Tables in DB:
--- address has 99 rows
--- company has 99 rows
------------------------------
------------------------------
STATUS db = target
Tables in DB:
--- company has 99 rows
--- address has 99 rows
------------------------------